body{
    background-image:url("pills.jpg");
    margin: 1px;
}
.header{
    width: auto;
    height: 200px;
    background-color:transparent;
}


.topHeader{
    width: auto;
    height: 200px;
    margin: 10px;
    padding: 10px;
    text-align: right;
    background-image: url("pills.jpg")
}

.logo{
    width:50px;
    height: 50px;
    float: left;
}

.topNav{
    width: auto;
    height: 30px;
    border-color: black;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    opacity: 0.6;
}
.topNav ul{
    list-style-type:none ;
    margin: 10px;
    padding-left:20px;
    border-spacing: 20px;
}
.topNav ul li{
    display: inline-block;
    padding: 10px;
    cursor: pointer;
}
.topNav ul li a{
    text-decoration: none;
    color: black;
    font-family: 'Arial', sans-serif;
    display: block;
}
.topNav ul li:hover{
    background: deeppink;
    color: white;
}
.topNav ul ul{
    position: absolute;
    width: 200px;
    background: #220;
    margin-top: 20px;
    margin-left: 10px;
    text-align: left;
    display: none;
}
.topNav  ul ul li{
    display: none;
    float: left;
}
.topNav ul li:hover > ul{
    display:block;
}


a{
    text-decoration: none;
}

.search-form{
    margin-top: -45px;
    float: right;
    margin-right:0px;
}

input[type=text]{
    padding: 7px;
    border-color: black;
    font-size: 16px;
    font-family: 'Arial', sans-serif;
}

button{
    float: right;
    background: orange;
    border-radius: 0 5px 5px 0;
    cursor:pointer;
    position: relative;
    padding: 7px;
    font-family: 'Arial', sans-serif;
    border: none;
    font-size: 16px;
}



footer{
    width: 100%;
    margin: auto;
    height: 20px;
    background-color: dodgerblue;
    color: white;
    text-align: center;
    padding: 5px;
    float: left;
}