body{
    background-image: url("pills.jpg");
    margin: 1px;
}
.header{
    width: auto;
    height: 200px;
    background-color:transparent;
}


.topHeader{
    width: auto;
    height: 200px;
    margin: 10px;
    padding: 10px;
    text-align: right;
    background-image: url("pills.jpg")
}

.logo{
    width:50px;
    height: 50px;
    float: left;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    opacity: 0.6;
}
li{
    float: left;
}
li a, .dropdown-btn{
    display: inline-block;
    color: #ffffff;
    text-align: center;
    padding: 18px 22px;
    text-decoration: none;
}
li a:hover, .dropdown:hover .dropdown-btn{
    background-color: #f5f5f5;
    color: #1ebb90;
}
li.dropdown{
    display: inline-block;
}
.dropdown-menu{
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.1);
    opacity: 0.6;
}
.dropdown-menu a{
    color: grey;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.dropdown-menu a:hover{
    background-color: #1ebb90;
    color: white;
}
.dropdown:hover  .dropdown-menu {
    display: block;
}

.search-form{
    margin-top: -100px;
    float: right;
    margin-right:0px;
}

input[type=text]{
    padding: 7px;
    border: none;
    font-size: 16px;
    font-family: 'Arial', sans-serif;
}

button{
    float: right;
    background: orange;
    border-radius: 0 5px 5px 0;
    cursor:pointer;
    position: relative;
    padding: 7px;
    font-family: 'Arial', sans-serif;
    border: none;
    font-size: 16px;
}



footer{
    width: 100%;
    margin: auto;
    height: 20px;
    background-color: #00595E;
    color: white;
    text-align: center;
    padding: 5px;
    float: left;
}